
body{
    background-color : rgb(22, 33, 49); 
}
.wrapper {
    display: inline-flex;
    font-family: tahoma;
    position: relative;
    top : 5vh;
    
}
#ilyas_Pic{
    width :450px ; 
    height : 450px;
    transition: all 1s ;
}

.wrapper .static-txt {
    color: #fff;
    font-size: 80px;
    font-weight: 400;
    transition: all 1s;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 85px;
    line-height: 90px;
    overflow : hidden;
    transition: all 1s;
}

.dynamic-txts li {
    color: red;
    text-shadow: 1px 1px 20px red;
    list-style: none;
    font-size: 80px;
    font-weight: 500;
    position: relative;
    top: -2vh;
    animation: slide 6s steps(4) infinite;
    transition: all 1s;
}

@keyframes slide {
    100% {
        top: -370px;
    }
}

.dynamic-txts li span {
    position: relative;
    transition: all 1s;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(22, 33, 49); ;
    border-left: 4px solid red;
    animation: typing 1.5s steps(15) infinite;
    transition: all 1s;
}

  .dynamic-txts.highlight li span::after {
    background-color: rgb(181, 214, 228);
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
}








#personnel{
    display: none;
}

#bare{
    background-color : #15202B;
    color:white;
    display : flex ;
    justify-content: space-between;
    border-bottom: solid 2px black;}
button{
    background-color: transparent;
    border : none;
    transition: all 1s;
}
.menu{
  
    color: white;
    font-size: 2rem;
   
    border :none;
    transition: all 1s ;
 
}
.menu:hover{
    border-bottom: 5px solid red ;
    font-size: 2.1rem;
    color: red;
    text-shadow: 1px 1px 20px red;
}
#parametres{
  width : 20%;
  transition: all 1s;
}

#Ilyas_Logo{
    width:20%;
    transition: all 1s;
}


#accueil{
    display: flex;
    align-items : center;
    justify-content: space-around;
    padding:5%;
}



#disc{
    color: white;
    font-size: 2rem;
    font-family :Tahoma ;
    transition: all 1s;
}




/*--------------------------------------*/

.text1 .text2{
    display: inline-block;
    height : 60px ; 
    width : 60px ; 
     
    margin : 0 5px ; 
    overflow: hidden;
    background: #ffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.text1 .text2 .text3 {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all;
    transition: all 0.3s ease-out;
}
.text1 .text2:nth-child(1):hover {
    width:160px ; 
}
.text1 .text2:nth-child(2):hover {
    width:180px ; 
}
.text1 .text2:nth-child(3):hover {
    width:230px ; 
}
.text1 .text2:nth-child(4):hover {
    width:290px ; 
}
.text1 .text2:nth-child(5):hover {
    width:260px ; 
}

.text1 .text2:nth-child(1):hover .text3{
    background: #4065b1;
}

.text1 .text2:nth-child(2):hover .text3{
    background: #fb3c7c;
}

.text1 .text2:nth-child(3):hover .text3{
    background: #4e79cd;
}
.text1 .text2:nth-child(4):hover .text3{
    background: #0037a4;
}
.text1 .text2:nth-child(5):hover .text3{
    background: #00ba3e;
}




.text1 .text2 .text3 a{
    color: #000 ; 
    font-size : 25px ; 
    line-height: 60px;
    transition: all 0.3 ease-out;
}

.text1 .text2:hover .text3 a {
    color: white;
}
.text1 .text2 span{
    font-size : 23px ; 
    font-weight : 500 ; 
    line-height: 60px ; 
    margin-left: 10px ; 
}

/*-------------------------------------*/




   .cv{
   position :relative ;
   top: 4vh ;
   color : white ;
   box-shadow :5px 12px 35px black ;
   text-decoration : none ;
   background-color : black ;
   font-size :20px ;
   padding : 16px 35px ;
   border-radius : 35px ;
   border : 2px solid grey ;
   letter-spacing : 2px ; 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   transition : all 0.3s ; 
}
.cv:hover{
    color: black;
    background-color: white;
}

#telephone{
    display: none;
}
/************************************************************************/
@media (min-width: 1260px) and (max-width: 1500px) {
    /* Styles pour les écrans de largeur maximale de 480px */
    .parametre :first-child{
        width : 27px ;
        height : 27px  ;
  }
  .parametre:last-child{
    font-size: 20px;
  }
  #Ilyas_Logo{
    width : 120px ;
    height : auto ;
  }
    #ilyas_Pic{
        width :400px ; 
        height : auto ;
    }
    .menu{
        font-size:1.5rem ; 
    }
    .menu:hover{
        font-size:1.7rem ; 
    }

    .wrapper .static-txt {
        font-size: 50px;
        position: relative;
        top:2.5vh;
    }
    .dynamic-txts li {
        font-size: 50px;
    }
    .dynamic-txts li span::after {
        height: 120%;
    }
    #disc{
        color: white;
        font-size: 1.5rem;
        font-family :Tahoma ;
    }
  }
/************************************************************************/
@media (min-width: 1155px) and (max-width: 1260px) {
    /* Styles pour les écrans de largeur maximale de 480px */
    .parametre :first-child{
        width : 25px ;
        height : 25px  ;
  }
 
  #Ilyas_Logo{
    width : 100px ;
    height : auto ;
  }
    #ilyas_Pic{
        width :40% ; 
        height : auto ; 
    }
    .menu{
        font-size:1.5rem ; 
    }
    .menu:hover{
        font-size:1.7rem ; 
    }

    .wrapper .static-txt {
        font-size: 50px;
        position: relative;
        top:2.5vh;
    }
    .dynamic-txts li {
        font-size: 50px;
    }
    .dynamic-txts li span::after {
        height: 120%;
    }
    #disc{
        color: white;
        font-size: 1.5rem;
        font-family :Tahoma ;
    }
  }
/************************************************************************/
@media (min-width: 1062px) and (max-width: 1162px) {
    /* Styles pour les écrans de largeur maximale de 480px */
    .parametre :first-child{
        width : 22px ;
        height : 22px  ;
  }
  #Ilyas_Logo{
    width : 80px ;
    height : auto ;
  }
    #ilyas_Pic{
        width :350px ; 
        height : 350px;
    }
    .menu{
        font-size:1.2rem ; 
    }
    .menu:hover{
        font-size:1.4rem ; 
    }

    .wrapper .static-txt {
        font-size: 35px;
        position: relative;
        top:6vh;
    }
    .dynamic-txts li {
        font-size: 35px;
        top: 0.5vh;
    }
    .dynamic-txts li span::after {
        height: 150%;
    }
    #disc{
        color: white;
        font-size: 1.4rem;
        font-family :Tahoma ;
    }
  }
/************************************************************************/
@media (min-width: 964px) and (max-width: 1062px) {
    /* Styles pour les écrans de largeur maximale de 480px */
    .parametre :first-child{
        width : 22px ;
        height : 22px  ;
  }
  #Ilyas_Logo{
    width : 70px ;
    height : auto ;
  }
    #ilyas_Pic{
        width :330px ; 
        height : 330px;
    }
    .menu{
        font-size:1rem ; 
    }
    .menu:hover{
        font-size:1.2rem ; 
    }

    .wrapper .static-txt {
        font-size: 35px;
        position: relative;
        top:6vh;
    }
    .dynamic-txts li {
        font-size: 35px;
        top: 0.5vh;
    }
    .dynamic-txts li span::after {
        height: 150%;
    }
    #disc{
        color: white;
        font-size: 1.4rem;
        font-family :Tahoma ;
    }
  }
  /************************************************************************/
@media (min-width: 860px) and (max-width: 964px) {
    /* Styles pour les écrans de largeur maximale de 480px */
    .parametre :first-child{
        width : 22px ;
        height : 22px  ;
  }
  #Ilyas_Logo{
    width : 60px ;
    height : auto ;
  }
    #ilyas_Pic{
        width :300px ; 
        height : 300px;
    }
    .menu{
        font-size:1rem ; 
    }
    .menu:hover{
        font-size:1.2rem ; 
    }

    .wrapper .static-txt {
        font-size: 31px;
        position: relative;
        top:6vh;
    }
    .dynamic-txts li {
        font-size: 31px;
        top: 0.5vh;
    }
    .dynamic-txts li span::after {
        height: 170%;
    }
    #disc{
        color: white;
        font-size: 1rem;
        font-family :Tahoma ;
    }
  }

  /************************************************************************/
@media (min-width: 829px) and (max-width: 860px) {
    /* Styles pour les écrans de largeur maximale de 480px */
    .parametre :first-child{
        width : 22px ;
        height : 22px  ;
  }
  #Ilyas_Logo{
    width : 60px ;
    height : auto ;
  }
    #ilyas_Pic{
        width :280px ; 
        height : 280px;
    }
    .menu{
        font-size:0.8rem ; 
    }
    .menu:hover{
        font-size:1rem ; 
    }

    .wrapper .static-txt {
        font-size: 30px;
        position: relative;
        top:6vh;
    }
    .dynamic-txts li {
        font-size: 30px;
        top: 0.5vh;
    }
    .dynamic-txts li span::after {
        height: 170%;
    }
    #disc{
        color: white;
        font-size: 1rem;
        font-family :Tahoma ;
    }
  }
  /************************************************************************/
   /************************************************************************/
@media (min-width: 690px) and (max-width: 829px) {
    /* Styles pour les écrans de largeur maximale de 480px */
    .parametre :first-child{
        width : 22px ;
        height : 22px  ;
  }
  #Ilyas_Logo{
    width : 60px ;
    height : auto ;
  }
    #ilyas_Pic{
        width :260px ; 
        height : 260px;
    }
    .menu{
        font-size:0.8rem ; 
    }
    .menu:hover{
        font-size:1rem ; 
    }

    .wrapper .static-txt {
        font-size: 25px;
        position: relative;
        top:6vh;
    }
    .dynamic-txts li {
        font-size: 25px;
        top: 0.5vh;
    }
    .dynamic-txts li span::after {
        height: 190%;
    }
    #disc{
        color: white;
        font-size: 1rem;
        font-family :Tahoma ;
    }
  }


  @media (min-width: 540px) and (max-width: 690px) {
    /* Styles pour les écrans de largeur maximale de 480px */
    .parametre :first-child{
        width : 20px ;
        height : 20px  ;
  }
  #Ilyas_Logo{
    width : 60px ;
    height : auto ;
  }
    #ilyas_Pic{
        width :40% ; 
        height : auto ;
    }
    .menu{
        font-size:0.7rem ; 
    }
    .menu:hover{
        font-size:0.9rem ; 
    }

    .wrapper .static-txt {
        font-size: 22px;
        position: relative;
        top:6vh;
    }
    .dynamic-txts li {
        font-size: 22px;
        top: 0.5vh;
    }
    .dynamic-txts li span::after {
        height: 210%;
    }
    #disc{
        color: white;
        font-size: 0.7rem;
        font-family :Tahoma ;
    }
  }
  @media (min-width: 500px) and (max-width: 540px) {
    /* Styles pour les écrans de largeur maximale de 480px */
    .parametre :first-child{
        width : 20px ;
        height : 20px  ;
  }
    #ilyas_Pic{
        width :30% ; 
        height : auto ;
    }
    #Ilyas_Logo{
        width : 60px ;
        height : auto ;
      }
    .menu{
        font-size:0.7rem ; 
    }
    .menu:hover{
        font-size:0.9rem ; 
    }

    .wrapper .static-txt {
        font-size: 20px;
        position: relative;
        top:6vh;
    }
    .dynamic-txts li {
        font-size: 20px;
        top: 0.5vh;
    }
    .dynamic-txts li span::after {
        height: 220%;
    }
    #disc{
        color: white;
        font-size: 0.7rem;
        font-family :Tahoma ;
    }
  }
/************************************************************************/
/************************************************************************/
@media only screen and (max-width: 500px) {
    .PC {
      display: none;
    }
    
    body {
      overflow-x: hidden; /* Masque le défilement horizontal */
      overflow-y: auto; /* Affiche le défilement vertical si nécessaire */
      width : 100% ; 
    }
    #telephone {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
  
    #bare_Telephone {
      padding: 1px;
      background-color: #15202B;
      color: white;
      display: flex;
      border-bottom: solid 2px black;
      width: 100%;
      height: 3rem;
      box-sizing: border-box; /* Inclut le padding dans la largeur totale */
    }
    #ilyasmakhloul{
        font-size: 24px ;
        
    font-family :Tahoma ;
    top : 0;
    width : 70%;
    text-align: center;
    
    }
   

#Accueil_telephone{
    padding: 10px;
    width : 85% ; 
    height: 36rem;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  /*background: rgba(255,255,255,0.1);*/
  backdrop-filter: blur(10px );
  flex-wrap: wrap;
  margin-left: 5%;
  margin-top : 5%;
}

#Ilyas_Phone{
    height : 90% ; 
    width :95% ;
}


.wrapper{
    position: relative;
    top : -3.5vh;
}
.wrapper .static-txt {
    position: relative;
    font-size: 25px;
    font-weight: 100;
    margin-left : 40px ; 
    top : 1.5vh;
}

.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 35px;
    line-height: 40px;
    overflow : hidden;
}



.wrapper .dynamic-txts li {
    font-size:25px;
    position: relative;
    top: 1.3vh;
    margin-left: -2.5rem;
}
@keyframes slide {
    100% {
        top: -150px;
    }
}

.dynamic-txts li span {
    position: relative;
    top : -3vh;
    height: 3rem;
}
.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: -1rem;
    height: 150%;
    width: 100%;
    background: rgb(22, 33, 49); ;
    border-left: 4px solid red;
    animation: typing 1.5s steps(15) infinite;
}
#discP{
    position: relative;
    top: -4rem;
    font-size: 0.9rem;
    color: white;
    font-family :Tahoma ;
}
.cv{
    position: relative;
    top: -0.5vh ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height : 25px ; 
}

/*------------------------------------*/
.social-menu ul{
    position: relative;
    padding : 0 ; 
    margin : 0 ; 
    margin-top: -9vh;
    transition: translate(-50%,-50%);
    display: flex;
}
.social-menu ul li{
    list-style : none ; 
    margin: 0 15px ; 
}

.social-menu ul li .fa{
    font-size: 30px ;
    line-height:60px ; 
    transition: .6s;
    color : #000
}

.social-menu ul li .fa:hover{
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height : 60px ;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow : 0 5px 4px rgba(0,0,0,0.5);

}
.social-menu ul li a:hover{
    transform: translate(0,-10px);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #55acee;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #0077b5;
}










/*-----------------------------------*/


#menu_telephone{
    border : solid 1px black ; 
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
   position: absolute;
   z-index: 100;
   right: 1%;
   background-color: #15202B;
   border-radius: 10%;
   font-size: 1.5rem;
   font-family: tahoma;
   color: white;
   max-height : 0 ;
overflow : hidden ;
transition : max-height 0.3s ease-out ;
}

#menu_telephone.show{
    max-height : 1300px ;
max-width : 2000px ;
transition : max-height 0.7s ease-in ;
}
.menuP{
    padding :  0 0  0 1rem ; 
    border-bottom: 1px solid white ;
    transition: all 0.3s;
}

.menuPF{
    padding :  0 0  0 1rem ; 
    transition: all 0.3s;
}

  }
 
 

